django
psycopg[c]
gunicorn
django-extensions
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
boto3
django-ses
django-storages
tqdm
django-health-check
celery
django-celery-results
django-redis
djoser
social-auth-app-django
# eventlet
# django_celery_beat